# Copia este archivo como .env para ejecutar WarmiBot.
API_BASE_URL=http://10.0.2.2:8000
APP_ENV=development
OPENWEATHER_API_KEY=PEGA_AQUI_TU_API_KEY
DEFAULT_CITY=Tena
DEFAULT_COUNTRY=EC
NEWS_RSS_URL=https://feeds.bbci.co.uk/mundo/rss.xml
